.footer {
  /* We want the footer to be fixed at the bottom */
  position: fixed;
  /* Stick to the bottom of the page */
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
}
