.sidebarOption {
  /*
      Using flex box to put the icon and title in a row
  */
  display: flex;
  /*
      Put everything in a vertical alignment
  */
  align-items: center;
  color: grey;
  height: 40px;
  /*
      Make the cursor a pointer finger which is nicer
  */
  cursor: pointer;
  /*
      Set a delay of 200 milli second on the color transition
  */
  transition: 200ms color ease-in;
}

/*
    When l hover over it l want the text color to be white
    But l do not want the transition to be sloppy. Therefore, we add the transition transition: 200ms color ease-in above
*/
.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
